@model IEnumerable<VMS.Models.TrainerProfile>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts")
</head>
<body>
   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SMEId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th> </th>
            <th>  </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SMEId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
           
            <td>
                <a href="@item.getProfileLink()"> Download </a>
            </td>

            <td>
                @Html.ActionLink("Assign SME", "SetSMEForm", new { id = item.ProfileId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
